/* Style du modal */
#equipmentModal {
  display: none; /* Masquer le modal par défaut */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Fond semi-transparent */
}

/* Contenu du modal */
#modalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

/* Bouton pour fermer le modal */
#modalContent button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  float: right;
}

#modalContent button:hover {
  background-color: #45a049;
}

/* Style du formulaire d'ajout d'équipement */
#addEquipmentForm {
  margin-bottom: 20px;
}

#addEquipmentForm label {
  display: block;
  margin-bottom: 10px;
}

#addEquipmentForm input[type="text"],
#addEquipmentForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  resize: vertical;
}

#addEquipmentForm button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

#addEquipmentForm button:hover {
  background-color: #45a049;
}
