/* Styles pour l'affichage sur smartphones en mode portrait ou paysage */
.class-entete {
  background-color: #fff;
  display: flex;
  align-items: center;
  margin: 2px;
}

.class-entete-logo {
  height: 100px;
  width: auto;
}

.class-entete-titre {
  font-family: Arial, sans-serif;
  font-size: 50px;
  margin: 2px;
}

.class-pageprincipale-container,
.class-modal-authentification-container,
.class-modal-detailequipement-container,
.class-modal-ajouterequipement-container,
.class-modal-modificationequipement-container,
.class-modal-reservation-container {
  flex-direction: column;
  align-items: center;
}

.class-pageprincipale-filtre,
.class-pageprincipale-soustitre {
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin: 10px;
}

.class-modal-authentification-saisietexte,
.class-pageprincipale-saisieliste,
.class-modal-authentification-bouton,
.class-modal-ajouterequipement-bouton,
.class-modal-detailequipement-bouton,
.class-modal-modificationequipement-bouton,
.class-modal-reservation-bouton {
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin: 1%;
  padding: 0.5em 1em;
}

.class-pageprincipale-tableau th,
.class-pageprincipale-tableau td {
  font-family: Arial, sans-serif;
  font-size: 18px;
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.class-pageprincipale-bouton {
  background-color: #00587C;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 1%;
}

.class-modal-authentification,
.class-modal-ajouterequipement,
.class-modal-detailequipement,
.class-modal-modificationequipement,
.class-modal-reservation {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #00587C;
  overflow: auto;
  background-color: rgba(255, 255, 255, 1);
}

.class-modal-authentification-contenu,
.class-modal-ajouterequipement-contenu,
.class-modal-detailequipement-contenu,
.class-modal-modificationequipement-contenu,
.class-modal-reservation-contenu {
  background-color: #fff;
  padding: 0%;
  margin: 1px;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 2px solid #00587C;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
}

.class-pageprincipale-containerbouton,
.class-entete-containerbouton,
.class-modal-authentification-containerbouton,
.class-modal-ajouterequipement-containerbouton,
.class-modal-detailequipement-containerbouton,
.class-modal-modificationequipement-containerbouton,
.class-modal-reservation-containerbouton {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 50px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-left: 50px;
}

h2 {
  font-family: Arial, sans-serif;
  margin: 0;
  margin-bottom: 1%;
  padding: 10px;
  font-weight: bold;
  font-size: 30px;
  background-color: #00587C;
  color: white;
}

.class-pageprincipale-tableau td:last-child::after {
  content: " €";
}

.class-pageprincipale-tableau {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  margin: 0%;
}

.class-pageprincipale-tableau th:nth-child(1),
.class-pageprincipale-tableau td:nth-child(1),
.class-pageprincipale-tableau th:nth-child(3),
.class-pageprincipale-tableau td:nth-child(3),
.class-pageprincipale-tableau th:nth-child(4),
.class-pageprincipale-tableau td:nth-child(4),
.class-pageprincipale-tableau th:nth-child(5),
.class-pageprincipale-tableau td:nth-child(5),
.class-pageprincipale-tableau th:nth-child(6),
.class-pageprincipale-tableau td:nth-child(6),
.class-pageprincipale-tableau th:nth-child(7),
.class-pageprincipale-tableau td:nth-child(7) {
  width: auto;
}

label {
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin: 1%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin: 1%;
  padding: 1%;
}

.out-of-stock {
  text-decoration: line-through;
  color: #cdcdcd;
}
